<h2 class= 'text-center'>
  <%= Restaurant %> </h2>
<h1 class='text-center'>
  <%= @restaurant.name %></h1>

<h2 class= 'text-center'>
   is located at: </h2>
<p class='text-center'>
  <%= @restaurant.address %></p>
  <p class='text-center text-warning'>
 category:  <%= @restaurant.category%></p>

<p class = 'text-center' ><%= link_to 'Go back', restaurants_path%> <p>

  <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
<%= link_to "See all restaurants", restaurants_path %>
